.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--gray-400);
}

.sidebarIcon {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 1rem 0 3rem;
}

.sidebarIcon img {
    width: 2rem;
    height: auto;
}

.logo {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 18.75rem;
    height: auto;
}

.profileIcon {
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 3rem 0 1rem;
    width: 2rem;
    height: auto;
    gap: 0.5rem;
    color: var(--gray-200);
    font-size: 1.2rem;
    white-space: nowrap;
    text-decoration: none;
}