.firstSection {
    margin:auto
}

.txtimgContainer {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 7rem;
}

.txtContainer {
    width: 35rem;
}

.txtContainer h1 {
    font-size: 3rem;
}

.txtContainer p {
    font-size: 1.3rem;
    line-height: 2.3rem;
}

.differentColor {
    color: var(--red-300);
}

.imgContainer {
    width: 35rem;
    margin-top: -5rem;
}

.imgContainer img {
    width: 100%;
}

.registerButton {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.registerButton button {
    border: 0;
    height: 5rem;
    width: 20rem;
    border-radius: 0.5rem;
    background: var(--red-300);
    color: var(--white);
    font-size: 1.3rem;
    transition-duration: 0.4s;
}

.registerButton button:hover {
    background: var(--red-200);
}