:root {
    --white: #EEEEEE;
    --black-background: #0F1923;
    --gray-400: #1A242D;
    --gray-200: #414952;
    --green-300: #00BA75;
    --red-300: #FF284C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--black-background);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}